footer{
    background-color: #222454;
}
.description{
    padding: 28px 5px;
      margin-top: 14px;
}
.description img{
    
}
.description p{
    font-size: 14px;
    line-height: 24px;
    color: #e2e2e2;
}
.contact .head-title{
    color: #ffff;
    font-size: 18px;
    
}
.contact .text p{
    margin-bottom: 0px;
    font-size: 13px;
    color: #e2e2e2;
}
.social{
    margin-top: -20px;
}
.social .icon i{
    color: #e2e2e2;
}
@media(max-width:860px){
    .social{
        margin-top: 0;
        
    }
}